:root  > * {
  --md-primary-fg-color:        #006A4D;
  --md-primary-fg-color--light: #ffffff;
  --md-primary-fg-color--dark:  #1e2129;
}

/*[data-md-color-scheme="custom"] {*/
/*  --md-accent-fg-color: #69BE28;*/
/*  --md-accent-fg-color--transparent: rgba(105, 190, 40, 0.1);*/
/*}*/

/*[data-md-color-scheme="slate"] {*/
/*  --md-accent-fg-color: #82D83C;*/
/*  --md-accent-fg-color--transparent: rgba(130, 216, 60, 0.1);*/
/*}*/